<% if @contact_file.errors.any? %>
  <div class="alert-message">
    <ul class="errors">
      <% @contact_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @contact_file, url: contact_files_path(@contact_file),
              method: :post, local: true do |f| %>

  <div style='display:flex; flex-direction: column;'>
    <%= f.label :file %>
    <%= f.file_field :file %><br /><br />

    <%= f.label :column_name %>
    <%= f.text_field :column_name %>

    <%= f.label :column_birthday %>
    <%= f.text_field :column_birthday %>

    <%= f.label :column_phone %>
    <%= f.text_field :column_phone %>

    <%= f.label :column_address %>
    <%= f.text_field :column_address %>

    <%= f.label :column_credit_card %>
    <%= f.text_field :column_credit_card %>

    <%= f.label :column_franchise %>
    <%= f.text_field :column_franchise %>

    <%= f.label :column_email %>
    <%= f.text_field :column_email %>

    <%= f.submit 'Upload' %>
  </div>
<% end %>
